*{
    background-repeat:no-repeat;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Helvetica Neue,Tahoma,Arial,PingFangSC-Regular,Hiragino Sans GB,Microsoft Yahei,sans-serif";   
}

img {
    border: none;
    vertical-align: top;
    width: 100%;
}

a {
    text-decoration: none;
}

input, textarea, button {
    outline: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
    overflow: hidden;
}

li {
    list-style: none;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.fl, .pull-left {
    float: left;
}

.fr, .pull-right {
    float: right;
}

.section {
    width: 100%;
    position: relative;
}

.section-center {
    padding: 0 0.413rem;
    position: relative;
}

.full {
    width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.noscroll::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div {
    display: block;
}

.clear:after{
    content:'';
    display:block;
    clear:both;
}



html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-size: 1rem;
}

body {
    font-size: 0.375rem;
    margin: 0 auto;
    position: relative;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #3c3c3c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; /* user-select:none; */
    touch-action: manipulation;
     -webkit-text-size-adjust:none;/* 取消浏览器最小字体的限制 */
    text-size-adjust:none;
}

::-webkit-scrollbar { /*隐藏滚轮*/
    width: 0;
    height: 0;
}

.flex {
    display: flex;
    align-items: center;
}

.app-init {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom:2rem;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    z-index: 99;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.app-header-wrapper {
    height: 1.5rem;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    justify-content: space-between;
}

    .app-header-wrapper .app-header-middle {
        flex: 1;
    }

    .app-header-wrapper .app-header-item {
        display: block;
        width: 0.8rem;
        margin: 0 0.3rem;
        text-align: center;
    }

.header .home-title{
        justify-content: flex-start;
        background-color: #fff;
        color: rgba(0,0,0,.3);
        border: 1px solid #e2e2e2;
        font-size: 0.4rem!important;
    }

.header .app-header-wrapper .app-header-title .icon-search {
            width: 0.8rem;
            height: 0.8rem;
            background: url(../../assets/images/icon-search.png) no-repeat center;
            background-size: 0.6rem 0.6rem;
        }

.header .app-header-wrapper .logo img {
        width: 80%;
    }

.header .app-header-wrapper .user-center {
        font-size: 0.6rem;
    }


/* 顶部 页面加载 提示 */
.loading-bar{position:absolute;width:100%;height:2px;left:0px;top:0px;z-index:100;}
.loading-bar span.press{display:block;float:left;width:0%;height:100%;background-color:#FFCB30;transition:all 0.4s cubic-bezier(0.55,0,0.1,1);}
.loading-bar.loading span.press{width:10%;opacity: 1;}
.loading-bar.end span.press{width:100%;opacity: 1;}
.loading-bar.hide span.press{width:100%;opacity: 0;}
.loading-bar.normal span.press{width:0%;opacity: 0;}

/* 路由动画 */
.slide-fade-enter-active, .slide-fade-leave-active{transition:transform 0.4s cubic-bezier(0.55,0,0.1,1);-webkit-transition:transform 0.4s cubic-bezier(0.55,0,0.1,1)}
.slide-fade-enter{transform:translate3d(100%,0,0);-webkit-transform:translate3d(100%,0,0);}
.slide-fade-leave-to{transform:translate3d(-100%,0,0);-webkit-transform:translate3d(-100%,0,0);}

/* nav */
.nav {
    background-color: #f2f2f2;
    font-size: 0.38rem;
    overflow-x: auto;
    white-space: nowrap;
}

    .nav .nav-item {
        display: inline-block;
        margin: 0 0.4rem;
        border-bottom: 2px solid rgba(0,0,0,0);
    }

        .nav .nav-item span {
            line-height: 0.8rem;
            display: inline-block;
        }

    .nav .active {
        color: #ff6700;
        border-color: #fd7e22;
    }

    .nav::-webkit-scrollbar { /*隐藏滚轮*/
        width: 0;
        height: 0;
    }



/* footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    height: 2rem;
    border-top: 1px solid #a0a0a0;
}

    .footer a {
        flex: 1;
        font-size: 0.4rem;
        color:#3c3c3c;
    }

        .footer a i {
            display: block;
            font-size: 0.6rem;
            margin: 0 auto 0.1rem;
        }

    .footer .active {
        color: #ff6700;
    }


/* page */
.page-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

    .page-wrap .bodys {
        position: absolute;
        top: 2.4rem;
        width: 100%;
    }

        .page-wrap .bodys .swiper-container {
            width: 100%;
            height: 5rem;
        }

        .page-wrap .bodys .cell-box {
            width: 100%;
            display: flex;
            align-items: center;
        }

            .page-wrap .bodys .cell-box a {
                flex: 1;
            }

        .shop-item{margin-top:0.1rem;}
        .shop-item .half{
            width:4.96rem;
        }
        .shop-item .shop-item-box {
            float:left;
            width:4.96rem;
            text-align:left;
            margin-bottom:0.2rem;
        }
        .shop-item .shop-item-box:nth-child(2n-1) {
            margin-right:0.05rem;
        }
            .shop-item .shop-item-box .info {
                padding:0 0.2rem;
            }
                .shop-item .shop-item-box .info .name {
                    font-size:0.375rem;
                    color:#000;
                }
                .shop-item .shop-item-box .info .brief {
                    font-size:0.3rem;
                    color:rgba(0,0,0,.54);
                }
                .shop-item .shop-item-box .info .price {
                    font-size:0.375rem;
                    color:#ea625b;
                }
                    .shop-item .shop-item-box .info .price:before {
                        content:"\A5";
                    }


/* categroy */
.icon-backer{font-size:0.5rem;}
.app-header-wrapper .app-header-right .icon-search {
    width: 0.8rem;
    height: 0.8rem;
    background: url(../../assets/images/icon-search.png) no-repeat center;
    background-size: 0.8rem 0.8rem;
    display:block;
}
.app-header-wrapper .app-header-middle .app-header-title{font-size:0.48rem;}
.main-wrap{position:relative;width:100%;height:100%;overflow-y:auto;overflow-x:hidden;}
.main-body{position:absolute;top:1.5rem;right:0;left:0;bottom:0;}
.main-body .list-nav{position:fixed;top:1.5rem;bottom:2rem;left:0;width:2.1rem;overflow-y:auto;}
.main-body .list-nav ul{padding:0.3rem 0 0 0;border-right:1px solid #efefef;}
.main-body .list-nav ul li{height:1.3rem;line-height:1.3rem; }
.main-body .list-nav ul .active{color: #ff6700;transform:scale(1.3);-webkit-transform:scale(1.3);}
.main-body .list-wrap{position:absolute;left:2.2rem;top:0;right:0;bottom:0;padding:0.4rem 0.1rem;}
.main-body .list-wrap .list-item .title{width:100%;height:1.5rem;line-height:1.5rem;margin-top:0.2rem;font-size:0.4rem;}
.main-body .list-wrap .list-item .group{width:100%;}
.main-body .list-wrap .list-item .group .group-item{width:30%;float:left;padding:0.2rem 0.05rem;}